<div class="clr-row" style="padding: 1rem; min-height: 14rem; background-color: #444444">
  <div class="clr-col-2"></div>
  <div class="clr-col-8" style="border-left: 1px solid #6e6e6e; border-right: 1px solid #6e6e6e">
    <div class="clr-row">
      <div class="clr-col">
        <div class="clr-row">
          <div class="clr-col-1">
            <div style="text-align: center; width: 2rem; margin-left: 1rem; float: left">
              <img src="../../../assets/images/smp-logo.svg" width="100%" class="img-fluid" alt="Imagem cards" />
            </div>
          </div>
          <div class="clr-col">
            <div class="h2-footer" style="height: 100%; margin-top: 0.5rem">D-CreEA Card Games</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <div class="ph-footer" style="margin-left: 1.5rem; margin-bottom: 1rem">
          <!-- <cds-icon shape="check" size="sm" aria-label="email"></cds-icon>  -->
          <div>Authors:</div>
          <div style="margin-left: 1.5rem"><cds-icon shape="employee"></cds-icon> Rubens A. S. Silva;</div>
          <div style="margin-left: 1.5rem"><cds-icon shape="employee"></cds-icon> Rossana M. C. Andrade</div>
        </div>
        <div class="ph-footer" style="margin-left: 1.5rem">
          <!-- <cds-icon shape="check" size="sm" aria-label="email"></cds-icon>  -->
          Contact: <cds-icon shape="envelope"></cds-icon> dcreae@gmail.com
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-2">
    <div style="margin-left: 1.5rem">
      <div class="clr-row">
        <a href="https://github.com/rubensandersonn" target="_blank" style="color: white">
          <cds-icon inverse solid shape="terminal"></cds-icon>

          Github</a
        >
      </div>
      <div class="clr-row">
        <a href="http://lattes.cnpq.br/7001638766945242" target="_blank" style="color: white">
          <cds-icon inverse solid shape="certificate"></cds-icon>
          Lattes</a
        >
      </div>
      <div class="clr-row">
        <a href="https://www.instagram.com/rubens_andersonn/" target="_blank" style="color: white">
          <cds-icon inverse solid shape="camera"></cds-icon>
          Instagram</a
        >
      </div>
      <div class="clr-row">
        <a href="https://www.linkedin.com/in/rubens-anderson" target="_blank" style="color: white">
          <cds-icon inverse solid shape="employee"></cds-icon>
          LinkedIn</a
        >
      </div>
    </div>
  </div>
</div>
